*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Sen';
    src: url('../media/fonts/Sen-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Sen', sans-serif;
    color: #4B5D68;
    font-size: 13px;
}

/* .container{
    margin: 20px 60px;
} */

/* Heading text */
.heading{
    font-size: 30px;
}

/* normal hyperlinked text */
a{
    text-decoration: none;
    color: #4B5D68;
}

/* when your cursor hover on them */
a:hover{
    color: #212353;
    font-weight: 600;
}


button{
    font-family: 'Sen', sans-serif;
}

/* The Request Demo button */
.request{
    color: #212353;
    background-color: white;
    box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.3);
    font-size: 13px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-family: 'Sen', sans-serif;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.request:hover{
    color: #fff;
    background-color: #212353;
    box-shadow: none;

}

.learn{
    color: #FFFFFF;
    cursor: pointer;
    background-color: #9C69E2;
    width: 150px;
    font-size: 13px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-family: 'Sen', sans-serif;
    margin: 20px 0;
}

.learn:hover{
    color: #9C69E2;
    background-color: #fff;
    box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.3);

}


/* Start of the nav-menu */
.row > nav{
    margin: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;

}

.row > nav > .left-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.row > nav > .left-nav > .nav-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

/* End of nav menu */

/* Main */
.row > main{
    margin: 20px 120px;
}

/* Start of About section */

/* Top Headline */
.row > main > .about > .headline{
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: space-around;
    height: 400px;
    position: relative;
    /* margin-right: -50px; */
}

/* The first illustration */
.row > main > .about > .headline > .illustration{
    position: absolute;
    bottom: 0;
    right: 0;
}

.row > main > .about > .headline > .illustration > img{
    width: 45vw;
}

/* The first headline */
.row > main > .about > .headline > .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

/* The header text */
.row > main > .about > .headline > .text > .heading{

    font-size: 70px;
    color: #212353;
    width: 50vw;

}

/* Body text */
.row > main > .about > .headline > .text > .body-text{
    width: 30vw;

}

/* About card */
.row > main > .about > .about-card{
    background-color: #F063B826;
    margin: 70px 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/* The second illustration */
.row > main > .about > .about-card > .illustration > img{
    width: 30vw;
}

/* The text block */
.row > main > .about > .about-card > .text{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* The text block's heading */
.row > main > .about > .about-card > .text > .heading{
    line-height: 40px;
}

/* The text's block body text */
.row > main > .about > .about-card > .text > .body-text{
    line-height: 25px;
}

/* End of About Section */


/* Features Section */

.row > main > .features{
    width: 100%;
}

.row > main > .features > .section-heading{
    font-size: 30px;
    margin: 20px;
    text-align: center;

}

.row > main > .features > .section-text{
    text-align: center;
    margin: 50px auto;
    width: 45vw;
}

.row > main > .features > .cards{
    /* width: 100%; */
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 40px; 
}

.row > main > .features > .cards > .card{
    width: 350px;
    padding: 30px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.row > main > .features > .cards > .card:nth-child(1) {
    background: url(../media/illustrations/feature-card-bg-1.svg) no-repeat;
    background-size: contain;
    background-position-x: right;
}
.row > main > .features > .cards > .card:nth-child(2) {
    background: url(../media/illustrations/feature-card-bg-2.svg) no-repeat;
    background-size: contain;
    background-position-x: right;
}

.row > main > .features > .cards > .card:nth-child(3) {
    background: url(../media/illustrations/feature-card-bg-3.svg) no-repeat;
    background-size: contain;
    background-position-x: right;
}

.row > main > .features > .cards > .card:nth-child(4) {
    background: url(../media/illustrations/feature-card-bg-4.svg) no-repeat;
    background-size: contain;
    background-position-x: right;
}

.row > main > .features > .cards > .card > .illustration > img{
    width: 150px;
}

.row > main > .features > .cards > .card > .text{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-around;

}

.row > main > .features > .cards > .card > .text > .heading-text{
    font-size: 20px;
}

.row > main > .features > .cards > .card > .text > button{
    background: none;
    cursor: pointer;
    font-weight: 700;
    border: none;
    display: flex;
    gap: 20px;
    color: #212353;
    
}

/* Start of Testimonials */

.row > main > .testimonials > .box{
    background-color: #9C69E2;
    padding: 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.row > main > .testimonials > .box > .title{
    margin-bottom: 48px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    color: #FFFFFF;
}

.row > main > .testimonials > .box > .owl-carousel > .item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.row > main > .testimonials > .box > .owl-carousel > .item > .item-desc > .info > h3{
    margin: 0 0 10px;
    font-size: 28px;
    line-height: 36px;
    color: #212353;
}
.row > main > .testimonials > .box > .owl-carousel > .item > .item-desc > .info > small{
    color: #9C69E2;
}

.row > main > .testimonials > .box > button {
    outline: none !important;
}
/******* Common Element CSS End *********/

/* -------- title style ------- */
.row > main > .testimonials > .box > .title{
    position: relative;
    width: 400px;
}
.row > main > .testimonials > .box > .title::before,
.row > main > .testimonials > .box > .title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
}
.row > main > .testimonials > .box > .title::before {
    width: 100%;
    background: #f2f2f2;
}
.row > main > .testimonials > .box > .title::after {
    width: 32px;
    background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.row > main > .testimonials {
    padding: 60px 50px;
}

.row > main > .testimonials > .box > .owl-carousel{
    display: flex;
}

.row > main > .testimonials > .box > .owl-carousel > .owl-stage {
    margin: 15px 0;
    display: flex;
    display: -webkit-flex;
}

.row > main > .testimonials > .box > .owl-carousel > .item {
    background-color: #FFFFFF;
    margin: 0 15px 60px;
    width: 320px;
    /* height: 400px; */
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.row > main > .testimonials > .box > .owl-carousel > .item.active {
    width: 500px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.row > main > .testimonials > .box > .owl-carousel > .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); */
}

.row > main > .testimonials > .box > .owl-carousel > .item > .item-desc {
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.row > main > .testimonials > .box > .owl-carousel > .item.active > .item-desc {
    transform: none;
    -webkit-transform: none;
}

.row > main > .testimonials > .box > .owl-carousel > .item > .item-desc > p {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.row > main > .testimonials > .box > .owl-carousel > .item.active > .item-desc > p {
    opacity: 1;
    color: #4B5D68;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.row > main > .testimonials > .box > .owl-carousel > .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
    .row > main > .testimonials > .box > .title{
        margin-bottom: 32px;
    }
    .row > main > .testimonials > .box > .owl-carousel > .item > .item-desc > .info > h3 {
        margin: 0 0 8px;
        font-size: 24px;
        line-height: 32px;
    }

    /* -------- Landing page ------- */
    .row > main > .testimonials {
        padding: 50px 30px;
    }
    .row > main > .testimonials > .box > .owl-carousel > .item {
        margin: 0 12px 60px;
        width: 260px;
        height: 360px;
    }
    .row > main > .testimonials > .box > .owl-carousel > .item.active {
        width: 400px;
    }
    .row > main > .testimonials > .box > .owl-carousel > .item > .item-desc {
        transform: translateY(calc(100% - 46px));
        -webkit-transform: translateY(calc(100% - 46px));
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .row > main > .testimonials > .box > .title {
        margin-bottom: 32px;
    }
    .row > main > .testimonials > .box > .owl-carousel > .item > .item-desc > .info > h3 {
        margin: 0 0 8px;
        font-size: 24px;
        line-height: 32px;
    }
    .row > main > .testimonials > .box > .title {
        width: 330px;
    }

    /* -------- Landing page ------- */
    .row > main > .testimonials {
        padding: 50px 30px 40px;
    }
    .row > main > .testimonials > .box > .owl-carousel > .item{
        margin: 0 12px 60px;
        width: 240px;
        height: 330px;
    }
    .row > main > .testimonials > .box > .owl-carousel > .item.active {
        width: 360px;
    }
    .row > main > .testimonials > .box > .owl-carousel > .item > .item-desc {
        transform: translateY(calc(100% - 42px));
        -webkit-transform: translateY(calc(100% - 42px));
    }
}

@media (max-width: 767px) {
    .row > main > .testimonials{
        font-size: 14px;
    }
    .row > main > .testimonials > .box > .title {
        margin-bottom: 20px;
    }
    .row > main > .testimonials > .box > .owl-carousel > .item > .item-desc > .info > h3{
        margin: 0 0 8px;
        font-size: 19px;
        line-height: 24px;
    }
    .row > main > .testimonials > .box > .title{
        width: 250px;
    }

    /* -------- Landing page ------- */
    .row > main > .testimonials {
        padding: 30px 15px 20px;
    }
    .row > main > .testimonials > .box > .owl-carousel > .item {
        margin: 0 10px 40px;
        width: 200px;
        height: 280px;
    }
    .row > main > .testimonials > .box > .owl-carousel > .item.active {
        width: 270px;
        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    }
    .row > main > .testimonials > .box > .owl-carousel > .item > .item-desc {
        padding: 0 14px 5px;
        transform: translateY(calc(100% - 42px));
        -webkit-transform: translateY(calc(100% - 42px));
    }
}

/* End of Testimonials */


hr{
    color: #000;
    /* margin: 0px; */
}

/* Footer */
.row > footer{
    margin: 20px 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.row > footer > .title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row > footer > .title > .left > .heading-text{
    margin: 10px 0;
    font-size: 30px;
    color: #212353;
}

.row > footer > .title > .left > .body-text{
    margin: 10px 0;
}

.row > footer > .title > .right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.row > footer > .footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.row > footer > .footer > .company-info,
.row > footer > .footer > .about,
.row > footer > .footer > .help,
.row > footer > .footer > .sm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.row > footer > .footer > .company-info > h5,
.row > footer > .footer > .about > h5,
.row > footer > .footer > .help > h5,
.row > footer > .footer > .sm > h5{
    font-weight: 700;
    font-size: 15px;
}

.row > footer > .footer > .company-info > .address{
    font-weight: 700;
    color: #212353;
}

.row > footer > .footer > .company-info > .address, .row > footer > .footer > .company-info > .contact{
    line-height: 20px;
}

.row > footer > .footer > .about > .list,
.row > footer > .footer > .help > .list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.row > footer > .footer > .sm > .list{
    display: grid;
    grid-template-columns: repeat(2, 60px);
    grid-template-rows: repeat(3, 60px);
}

.row > footer > .bottom{
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.row > footer > .bottom > .copyright{
    line-height: 20px;
}

.row > footer > .bottom > .support > button{
    border: none;
    background: none;
}