/* 05 */

position: absolute;
width: 1578px;
height: 709px;
left: 242px;
top: 2789px;



/* Rectangle 34 */

position: absolute;
width: 1118px;
height: 709px;
left: 242px;
top: 2789px;

/* 3 */
background: #9C69E2;
border-radius: 50px;


/* 1 */

position: absolute;
width: 645px;
height: 330px;
left: 335px;
top: 3038px;



/* Rectangle 35 */

position: absolute;
width: 645px;
height: 330px;
left: 335px;
top: 3038px;

background: #FFFFFF;
box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
border-radius: 20px;


/* Group 66 */

position: absolute;
width: 505px;
height: 220px;
left: 405px;
top: 3098px;



/* Group 68 */

position: absolute;
width: 505px;
height: 220px;
left: 405px;
top: 3098px;



/* Ellipse 76 */

position: absolute;
width: 90px;
height: 90px;
left: 405px;
top: 3098px;

background: url(.jpg), #F063B8;


/* Group 67 */

position: absolute;
width: 385px;
height: 200px;
left: 525px;
top: 3118px;



/* Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla. */

position: absolute;
width: 385px;
height: 130px;
left: 525px;
top: 3188px;

font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 180%;
/* or 32px */

/* 1 */
color: #4B5D68;



/* Group 65 */

position: absolute;
width: 170px;
height: 51px;
left: 525px;
top: 3118px;



/* John Fang */

position: absolute;
width: 170px;
height: 29px;
left: 525px;
top: 3118px;

font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */
display: flex;
align-items: center;
letter-spacing: 0.005em;

/* 2 */
color: #212353;



/* wordfaang.com */

position: absolute;
width: 101px;
height: 22px;
left: 525px;
top: 3147px;

font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 160%;
/* or 22px */
display: flex;
align-items: center;
letter-spacing: 0.01em;

/* 3 */
color: #9C69E2;



/* 2 */

position: absolute;
width: 400px;
height: 330px;
left: 1000px;
top: 3038px;



/* Rectangle 36 */

position: absolute;
width: 400px;
height: 330px;
left: 1000px;
top: 3038px;

background: #FFFFFF;
box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.1);
border-radius: 20px;


/* Group 68 */

position: absolute;
width: 400px;
height: 330px;
left: 1000px;
top: 3038px;



/* Ellipse 76 */

position: absolute;
width: 90px;
height: 90px;
left: 1040px;
top: 3093px;

background: url(.jpg), #F063B8;


/* Group 67 */

position: absolute;
width: 400px;
height: 330px;
left: 1000px;
top: 3038px;



/* Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor */

position: absolute;
width: 180px;
height: 130px;
left: 1160px;
top: 3183px;

font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 180%;
/* or 32px */

/* 1 */
color: #4B5D68;



/* Group 65 */

position: absolute;
width: 400px;
height: 330px;
left: 1000px;
top: 3038px;



/* Rectangle 37 */

box-sizing: border-box;

position: absolute;
width: 400px;
height: 330px;
left: 1000px;
top: 3038px;

background: linear-gradient(270deg, #FFFFFF 9.75%, rgba(255, 255, 255, 0) 100%);
/* 3 */
border: 1px solid #9C69E2;
border-radius: 20px;


/* Jeny Doe */

position: absolute;
width: 170px;
height: 29px;
left: 1160px;
top: 3113px;

font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */
display: flex;
align-items: center;
letter-spacing: 0.005em;

/* 2 */
color: #212353;



/* UX Engineer */

position: absolute;
width: 82px;
height: 22px;
left: 1160px;
top: 3142px;

font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 160%;
/* or 22px */
display: flex;
align-items: center;
letter-spacing: 0.01em;

/* 3 */
color: #9C69E2;



/* 3 */

position: absolute;
width: 400px;
height: 330px;
left: 1420px;
top: 3038px;



/* Rectangle 36 */

position: absolute;
width: 400px;
height: 330px;
left: 1420px;
top: 3038px;

background: #FFFFFF;
box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.1);
border-radius: 20px;


/* Group 68 */

position: absolute;
width: 400px;
height: 330px;
left: 1420px;
top: 3038px;



/* Ellipse 76 */

position: absolute;
width: 90px;
height: 90px;
left: 1460px;
top: 3093px;

background: url(.jpg), #F063B8;


/* Group 67 */

position: absolute;
width: 400px;
height: 330px;
left: 1420px;
top: 3038px;



/* Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor */

position: absolute;
width: 180px;
height: 130px;
left: 1580px;
top: 3183px;

font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 180%;
/* or 32px */

/* 1 */
color: #4B5D68;



/* Group 65 */

position: absolute;
width: 400px;
height: 330px;
left: 1420px;
top: 3038px;



/* Rectangle 37 */

box-sizing: border-box;

position: absolute;
width: 400px;
height: 330px;
left: 1420px;
top: 3038px;

background: linear-gradient(270deg, #FFFFFF 9.75%, rgba(255, 255, 255, 0) 100%);
/* 3 */
border: 1px solid #9C69E2;
border-radius: 20px;


/* William */

position: absolute;
width: 170px;
height: 29px;
left: 1580px;
top: 3113px;

font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */
display: flex;
align-items: center;
letter-spacing: 0.005em;

/* 2 */
color: #212353;



/* Web Designer */

position: absolute;
width: 92px;
height: 22px;
left: 1580px;
top: 3142px;

font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 160%;
/* or 22px */
display: flex;
align-items: center;
letter-spacing: 0.01em;

/* 3 */
color: #9C69E2;



/* Testimonials */

position: absolute;
width: 405px;
height: 52px;
left: 335px;
top: 2898px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
/* identical to box height, or 52px */
display: flex;
align-items: center;

color: #FFFFFF;



/* slide */

position: absolute;
width: 55px;
height: 10px;
left: 335px;
top: 3428px;



/* Ellipse 72 */

position: absolute;
width: 10px;
height: 10px;
left: 335px;
top: 3428px;

/* 4 */
background: #F063B8;


/* Ellipse 73 */

position: absolute;
width: 5px;
height: 5px;
left: 355px;
top: 3431px;

background: #FFFFFF;


/* Ellipse 74 */

position: absolute;
width: 5px;
height: 5px;
left: 370px;
top: 3431px;

background: #FFFFFF;


/* Ellipse 75 */

position: absolute;
width: 5px;
height: 5px;
left: 385px;
top: 3431px;

background: #FFFFFF;


/* Group 56 */

position: absolute;
width: 20px;
height: 14px;
left: 1264px;
top: 3426px;

opacity: 0.5;


/* Polygon 1 */

box-sizing: border-box;

position: absolute;
width: 14px;
height: 6px;
left: 1284px;
top: 3426px;

border: 2px solid #FFFFFF;
transform: rotate(90deg);


/* Vector 74 */

box-sizing: border-box;

position: absolute;
width: 20px;
height: 0px;
left: 1264px;
top: 3433px;

border: 2px solid #FFFFFF;


/* Group 57 */

position: absolute;
width: 40px;
height: 14px;
left: 1244px;
top: 3440px;

transform: rotate(-180deg);


/* Polygon 1 */

box-sizing: border-box;

position: absolute;
width: 14px;
height: 6px;
left: 1204px;
top: 3440px;

border: 2px solid #FFFFFF;
transform: rotate(-90deg);


/* Vector 74 */

box-sizing: border-box;

position: absolute;
width: 40px;
height: 0px;
left: 1244px;
top: 3433px;

border: 2px solid #FFFFFF;
transform: rotate(-180deg);
